* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page-container{
  padding-top: 0px;
}
/* Loader styles */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #87CEEB); /* White to light blue gradient background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
  text-align: left; /* Align text to the left */
}

#search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
}

#location {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#temperature {
  font-size: 32px;
  margin-bottom: 10px;
}

#weather-icon img {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}


.search-container {
  max-width: 400px; /* Set a specific max-width for the search container */
  margin: 0 auto; /* Center the search container within its parent */
  display: flex;
  margin-bottom: 20px;
}


.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.search-input::placeholder {
  text-align: center;
}

.search-button {
  background-color: #007BFF; /* Blue color similar to Apple's Weather app */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}